// 全局公共样式

.wrap-box {
  height: 100%;
  padding: 0px 0px 0px 10px;
  transition: 0.4s;
}

.all {
  .el-button {
    height: 32px;
    padding: 6px 20px;
  }
}

// button类型样式
.el-button--warning {
  background-color: #FA8E03;
  border-color: #FA8E03;
}