// 全局公共样式

.wrap-box {
  height: 100%;
  padding: 0px 0px 0px 10px;
  transition: 0.4s;
}

.all {
  .el-button {
    height: 32px;
    padding: 6px 20px;
  }
}

// button类型样式
.el-button--warning {
  background-color: #FA8E03;
  border-color: #FA8E03;
}

// loading样式
.el-loading-mask {
  // background-color: rgba(250, 245, 242, 0.8) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;

  .el-loading-spinner {
    background: url(../assets/icon/dog.gif) no-repeat;
    display: inline-block;
    background-size: 500px 500px;
    height: 300px;
    width: 100%;
    background-position: center;
    top: 40%;

    .el-icon-loading,
    .circular {
      /*隐藏 之前  element-ui  默认的 loading 动画*/
      display: none;
    }
  }
}

