// ! 登录全局样式

// input输入框
.el-form-item__content {
  margin-left: 0px !important;
}

// input输入框
.fxq_login {
  .el-input__inner {
    font-weight: 700;
    border: 0;
  }
}

// 下拉框选项的样式修改
.language {
  .el-select-dropdown__item {
    display: flex;
    padding-left: 5px;
    font-size: 5px;
  }

  .el-select-dropdown__item, .el-select-dropdown__item.selected {
    color:#606266;
    font-weight: 700;
  }

  .el-select-dropdown__item.hover img {
    border: 1px solid #fa8e03;
    // x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色
    box-shadow: 0px 2px 12px 0px rgba(185, 94, 0, 0.24);
  }

  img {
    width: 16px;
    height: 16px;
    transition: 0.2s;
    border-radius: 50%;
    margin: 9px 7px 5px 4px;
  }
}

// input校验错误弹框
.el-form-item {
  // 错误弹框
  .el-form-item__error {
    padding: 4px 10px;
    background-color: #FA8E03;
    color: white;
    border-radius: 6px;
    top: -25px;
    left: auto;
    right: 0;
    text-align: center;
    font-size: 12px !important;
    z-index: 2;
  }
  // 错误弹框前的动画亮片
  .el-form-item__error::before {
    content: ""; // 用于在元素的 ::before 和 ::after 伪元素中插入内容。使用content 属性插入的内容都是匿名的可替换元素。
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20px;
    height: 20px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
    animation: 1s move infinite; // infinite无限循环
  }
  // 亮片动画
  @keyframes move {
    0% {
      left: -20px;
    }

    100% {
      left: 100%;
    }
  }
  // 错误弹框小三角
  .el-form-item__error::after {
    content: ""; // 用于在元素的 ::before 和 ::after 伪元素中插入内容。使用content 属性插入的内容都是匿名的可替换元素。
    position: absolute;
    top: 15px;
    left: calc(50% - 5px);
    z-index: -1;
    width: 8px;
    height: 8px;
    background-color: #FA8E03;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
  }
}

// button类型样式
.el-button--warning {
  background-color: #FA8E03;
  border-color: #FA8E03;
}